<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= pageTitle %></title>
	<% for ( var i = 0; i < styles.length; i++) { %><link rel="stylesheet" href="<%= styles[i] %>"><% } %>
	<% for ( var i = 0; i < scripts.length; i++) { %><script src="<%= scripts[i] %>" type="text/javascript"></script><% } %>
</head>
<body>
		<!-- main container -->
		<div class='container'>
			<!-- header -->
			<% if (isLoggedin == true) { %>
			 <% include partials/header.html %>
			<% } %>
			<!-- /. -->
			
			<!-- content -->
			<div class="content clearfix" style="margin-top:70px;">
				<% if (isLoggedin == true) { %>
				<div class="row">
					<div class="col-xs-8">
						<%- include(content) %>
					</div>
					<div class="col-xs-4">
						<% include partials/rss_feed.html %>
					</div>
				</div>
				<% } else { %>
						<%- include(content) %>
				<% } %>
			</div>
			<!-- /. -->
		
			<!-- footer -->
			<% include partials/footer.html %>
			<!-- /. -->
		</div>
		<!-- /. -->
</body>
</html>