<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= pageTitle %></title>
	<% for ( var i = 0; i < styles.length; i++) { %><link rel="stylesheet" href="<%= styles[i] %>"><% } %>
	<% for ( var i = 0; i < scripts.length; i++) { %><script src="<%= scripts[i] %>" type="text/javascript"></script><% } %>
</head>
<body>
	<!-- main container -->
	<div class='container body'>
		
		<div class="row">
			<% include partials/header.html %>
			<% if (!isLoggedIn) { %>
			<div class="col-xs-12"><%- include(content) %></div>
			<% } else { %>
			<div class="col-xs-8">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Panel title</h3>
				  </div>
				  <div class="panel-body">
						<%- include(content) %>
				  </div>
				</div>
			</div>
			<div class="col-xs-4"><% include partials/rss_feed.html %></div>
			<% } %>
		</div>

		<% include partials/footer.html %>
	</div>
	<!-- /. -->
</body>
</html>