<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<ul class="nav navbar-nav">
		<li class="<% if (selectedHomeMenu == 'newsfeed') { %>active<% } %>">
			<a href="/home/newsfeed">
				<i class="fa fa-list"></i>
				&nbsp;Newsfeed
			</a>
		</li>
		<li class="<% if (selectedHomeMenu == 'profile') { %>active<% } %>">
			<a href="/home/profile">
				<i class="fa fa-user"></i>
				&nbsp;Profile
			</a>
		</li>
		<li class="<% if (selectedHomeMenu == 'friends') { %>active<% } %>">
			<a href="/home/friends">
				<i class="fa fa-group"></i>
				&nbsp;Friends
			</a>
		</li>
	</ul>
	<ul class="nav navbar-nav pull-right">
		<li class=''>
			<a href="/signout">
				<i class="fa fa-sign-out"></i>
				&nbsp;Logout
			</a>
		</li>
	</ul>
</nav>


