<% if (isLoggedIn) { %>
<br>
<ul class="nav nav-tabs" style="">
  <li role="presentation" <% if (selectedMenu=="home") {%> class="active"  <%}%>>
  	<a href="/page/home">
  		<i class="fa fa-home"></i>
  		&nbsp;Home
  	</a>
  </li>
  <li role="presentation" <% if (selectedMenu=="profile") {%> class="active"  <%}%>>
  	<a href="/page/profile">
  		<i class="fa fa-user"></i>
  		&nbsp;Profile
  	</a>
  </li>
  <li role="presentation" <% if (selectedMenu=="contacts") {%> class="active"  <%}%>>
    <a href="/page/contacts">
      <i class="fa fa-phone"></i>
      &nbsp;Contacts
    </a>
  </li>
  <li role="presentation" <% if (selectedMenu=="messages") {%> class="active"  <%}%>>
  	<a href="/page/messages">
  		<i class="fa fa-envelope"></i>
  		&nbsp;Messages
  	</a>
  </li>
  <li class="pull-right">
  	<a href="/signout">
  		<i class="fa fa-sign-out"></i>
  		&nbsp;Logout
  	</a>
  </li>
</ul>
<br>
<% } %>